<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Dotnet Core Web App</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>My Dotnet Core Web App</h1>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            </ul>
        </nav>
    </header>
    <main role="main" class="container">
        <div>
            @RenderBody()
        </div>
    </main>
    <footer>
        <p>&copy; 2023 - My Dotnet Core Web App</p>
    </footer>
</body>
</html>