<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <h1>Welcome to the Home Page!</h1>
        <p>This is the Index view of the Home controller.</p>
         <h2>Employee Names</h2>
       
    </div>
</body>
</html>